<header class="l-mainHeader">

	<h2>Tidbok</h2>

	<div class="btn-group" style="margin: -3px 0 0 10px;">
		<button class="btn" {{action "previous"}}><i class="fa fa-chevron-left"></i></button>
		<button class="btn" {{action "next"}}><i class="fa fa-chevron-right"></i></button>
		{{input value=textFilter class="form-control f-search no-float" placeholder="Sök"}}
	</div>

	<ul class="pull-right g-segmented-control" style="margin-left:10px;">
		<li>
			{{#link-to 'appointments.create'}}
				<i class="fa fa-plus"></i> Ny
			{{/link-to}}
		</li>
	</ul>
	<ul class="pull-right g-segmented-control" style="margin-left:10px;">
		<li>
			{{#link-to 'appointments.day'}}
				Dag
			{{/link-to}}
		</li>
		<li>
			{{#link-to 'appointments.week'}}
				Vecka
			{{/link-to}}
		</li>
		<li>
			{{#link-to 'appointments.month'}}
				Månad
			{{/link-to}}
		</li>
		<li>
			{{#link-to 'appointments.year'}}
				År
			{{/link-to}}
		</li>
	</ul>

</header>

<div class="l-workspace">
	{{#if showCalendar}}
		<section class="l-mainContent">
			{{calendar width=940 height=455 events=controller.content }}
		</section>
	{{/if}}

	{{outlet}}

</div>
